[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tensorflow = "*"
transformers = "*"
flask = "*"
torch = "*"
python-dotenv = "*"
wtforms = "*"
marshmallow = "*"
boto3 = "*"
flask-cors = "*"
psycopg2-binary = "*"
pandas = "*"
lightfm = "*"

[requires]
python_version = "3.7"
